

body{
    margin-left: 20px;
    margin-right: 20px;
  font-family: 'Roboto', sans-serif;
}
    
    header{
    display: flex;
    justify-content: space-between;
}
.tek{
    background-color: brown;
    height: 30px;
    width: 65px;
    border-radius: 10px;
    color: white;
}
.devis{
    background-color: brown;
    height: 30px;
    width: 150px;
    border-radius: 10px;
    color: white;
}

nav ul li{
    display: inline;
    padding: 45px;
    text-decoration: none;
}
nav ul li a{
    text-align: center;
    text-decoration: none;
    color: rgb(0, 0, 3);

}
.sect1{
    display: flex;
    justify-content: center;
    gap: 25px;
    width: 80%;
    margin-left: 40px;
}
h1{
    color: brown;
    font-size: 30px;
    text-align: center;
}
.sect1 .div1 .moi{
    color: brown;
    font-size: 30px;
}
p{
    font-size: 20px;
}
img{
    border-radius: 25px;
}
.sect2 > ul{
    display: flex;
    justify-content: space-between;
    gap: 30px;
}
.sect2 > ul li{
    display: flex;
    width: 250px;
    height: 150px;
    background-color: rgb(195, 179, 167);
    font-size: 18px;
    text-align: center;
    padding-top: 15px;
 
}
.sect3> p a{
    text-align: center;
    color: rgb(187, 97, 7);

}
.sect3> p {
    text-align: center;   
    font-size: 25px; 
}
footer{
    background-color: brown;
    text-align: center;
    font-size: 20px;
    color: aliceblue;
}
footer > a{
    color: aliceblue;
}
form{
    width: 500px;
    margin:0  auto;
    padding: 20px;
}
input,textarea {
  width: 100%;
  padding: 12px;
  font-size: 16px;
  box-sizing: border-box;
}

button {
    height: 50px;
    width: 150px;
    color: rgb(253, 248, 248);
    background-color: brown;
    margin-left: 200px;
    font-size: 20px;
}